@media (max-width:728px) {
    .logo-section img {
        height: 50px;
        width: 50px;
        margin-top: -7px;
    }
    .first-header{
        display: none;
    
    }
    .social a{
        display: none;

    }
    .home .sq-top {
        width: 100%;
    }
    .home h1 {
        font-size: 22px;
    }
    .buttonSection .row1{
        margin-top:10px;

    }
    .row1{
        margin-top:10px;

    }
    .buttonSection {
        width: 70%;
        height: auto;
        overflow: hidden;
        padding: 0px;
    }
    .buttonSection span img{
        position: absolute;
        top: 190px;
        right: 30px;
        opacity: .7;
    }
    .rowPrice{
        margin-top: 20px;
    }
    .AboutSite .Aboutcloud input{
        width:100%;
    }
    .sec2{
        margin-top: 30px;
    }

 .logo-section{
     display: none;
 }
 .navbar-brand .dropdown{
     display: none;
 }
 header{
     display: none;
 }
 #navbar-2 .user-box a img{
    width:38px;
    border-left: 0px;

}
.submit-ad a.btn-light{
  
    margin-left: 0px;
}
ul.lists{
    margin-left: 0px;
}
.post {

    width: 100%;

}
 
}
@media (width:768px) {
.select-style {
    border: 1px solid #fff;
    width: 130px;}
    .buttonSection input{
        width:98%;
        margin-left:20px;
      
    }
    .AboutSite .contact-us .Aboutcloud{
        width:100%;
    }
    .sec-md{
        margin-top: 30px;
    }
    #navbar-2 .user-box a img{
        width:38px;
        border-left: 0px;
    
    }
    .submit-ad a.btn-light{
  
        margin-left: 0px;
    }
    ul.lists{
        margin-left: 0px;
    }
    .rowPrice{
        margin-top: 20px;
    }

}
