
body{
    direction: ltr;
    font-family: 'Roboto', sans-serif;
    color: #fff;


}
main{
    background: #f5f9f8;

}

.header{
    background: #000;
    height: 55px;
    position: relative;
}
.text-muted {
    color: #ffff!important;
   
}
.logo-section img{
    height: 100px;
    width:100px;
    margin: 0 auto;
    margin-top: -70px;
   
 
} 
header a:hover{
    text-decoration: none;
}
.first-header a img{
    width:24px;
    height: 24px;

}
.social a{
    font-size: 18px;
    border: 2px solid #D8AF55;
    margin-left: 10px;
    padding:5px ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    margin-top:-5px;
}
.social a i{
    color: #D8AF55;


}
a.head-text{
    font-size: 14px;
    font-weight: bold;
}

#navbar .navbar-nav{
    margin:0 auto;
    display: flex;
    margin: 0 auto;
    margin-right: 50px;
}
#navbar .bg-dark {
    background-color: #D8AF55!important;
}

#navbar .navbar-dark .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;

}
#navbar .navbar-dark .navbar-nav .nav-link:hover{
   color: #000;
   text-decoration: underline;

 

}
img.img-index{
    width:30px;

}

.settings a{
    color:#000;
    font-size: 12px;
}
.settings i{
    font-size: 22px;
}
.searchSection{
    height: 981.85px;
    width: 100%;
    color:red;
    background: url("../img/Untitled-1.png");
    background-size: cover;
    text-align: center;
    position: relative;
  
}
.home {
    background: url("../img/Untitled-1@2x.png") no-repeat;
    background-size: cover;
    color: #FFF;
    opacity: 1;
    height: auto;
    position: relative;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 100%, 93% 100%, 93% 94%, 7% 94%, 7% 100%, 0 100%);

}
.home .overlay {
    background: rgba(49, 55, 61, .7);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.home h1{
    text-align: center;
    margin-top:40px;
    font-size: 30px;
}
.home p{
    text-align: center;
    margin-bottom: 40px;
}
.home .sq-top{
    background: #D8AF55;
    height: 45px;
    width: 350px;
    margin: 0 auto;
    padding-top:10px;
}
.sq-top img{
    height: 30px;
    padding-left: 30px;;
}
.home .sq-top a{
    color: #fff;
}
.home .sq-top a:hover{
    color: #fff;
    text-decoration: none;
}
.buttonSection{

    width: 70%;
    height: auto;
    overflow: hidden;
    padding: 50px 20px;
    position: relative;

   border:1px solid transparent;
    text-align: center;
    border-radius: 15px; 
    display: flex;
    margin: 0 auto;

        
    
    }
    .select-style {
        border: 1px solid #fff;
        width: 100%;
        height: 45px;
        border: 0px;
        overflow: hidden;
        background: #fff url("../img/baseline-location_on-24px.png") no-repeat 95% 60%;
        border-radius: 6px;
        position: relative;
        margin: 0 auto;
        
    
    
    }
    .select2{
        background: #fff url("../img/Group\ 1844.png") no-repeat 95% 60%;

    }
    select option{
        color:#000;
        background: #D8AF55;
        border: 0px;
        outline: 0px;
    }

    
 .select-style select {
        color:#000;
        padding: 10px 20px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        position: relative;
    
        
    }
    
    
    
   .select-style select:focus {
        outline: none;
    }
    .buttonSection .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin: 0 auto;
    }
.buttonSection input{
    width:97%;
    margin:0 auto;
    height: 50px;
    position: relative;
    background-color:rgb(229, 226, 226);
}
.buttonSection span img{
    position: absolute;
    top: 125px;
    right: 60px;
    opacity: .7;
}
.catagoriesSection{
    color:#000;
    border:1px solid transparent;
    height: auto;

 
}
.catagoriesSection{
    margin-top: -50px;

}
.catagories h2{
    color:#000;
    text-align: center;
    font-weight: bold;
    font-size:27px;
}
.catagories p{
    color:#000;
    text-align: center;
    font-size:15px;
}
.catagories .row{
    margin-top:20px;
}
.catagories .row .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    border: 0px;
}
.catagories .overlay {
    background: linear-gradient(to bottom,rgba(94, 95, 97, 0.7),#D8AF55,#D8AF55,#D8AF55) ;
    width:100%;
    height:100%;
    display: flex;
    position: relative;
}
.catagories .row img{
    position: relative;
    opacity: .7;
    width:100%;
   
}
.catagories .row .card  a.title {
    position: absolute;
    margin: 6rem 3rem;
    color: #fff;
    font-size: 18px;

}
.catagories .row .card  a.title:hover{
    color:#000;
    text-decoration:none;
}
.catagories .row h3{
    position: absolute;
    color: #fff;
    color: #000;
    text-align: center;
    margin: 0 auto;
 
}
.catagories .row .img1{
    position: relative;
}
.catagories .row .img2{
    position: absolute;
}
.views{
    color:#000;
    background: #fff;
    border:1px solid transparent;
    height: auto;
    text-align: center;

}
.viewsSection h2{
    color:#000;
    text-align: center;
    font-weight: bold;
    font-size:25px;
    margin-top: 30px;
    border-bottom: 1px solid;
    width: 90px;
    margin: 0 auto;
}
.views{
    margin-top:40px;
    background: url("../img/9998735443@2x.png") no-repeat;
    background-size: cover;
    color: #FFF;
    opacity: 1;
    height: 160px;
    position: relative;
    padding-left:  20px;
}
.views p{
    margin-top:120px;
    font-size: 18px;;
}
.ads ul{
    display: flex;
    margin: 0 auto;

}
.ads a.btn{
  
    width: 150px;
    height: 40px;
    line-height: 24px;
    background: #fff;
    color:#000;
    border:1px solid #000;
    font-size: 16px;
    outline: 0px;
}
.ads a.btn:hover{
    color:#fff;
    background: linear-gradient(to bottom,#D8AF55,#E9C983);
    border: none;
    opacity: 1;
    outline: none;
}
.courseSection .titleCource {
    width:85%;
    border-bottom: 3px solid #A6D141;
    padding-bottom: 20px;
    text-align: center;
    margin-right: 45px;
}
.courseSection .titleCource h4{
    color: #E9E9F0;
    font-size: 18px;
}
.courseSection .titleCource span{
    color: #000;
    font-size: 20px;
}
.courseSection .blog-box{
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 30px 10px rgba(148, 146, 245, 0.15);
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 2px;
    border:1px solid rgb(228, 225, 225);
}
.courseSection .blog-img{
    width:100%;}

.courseSection .blog-img img{
    position: relative;
}
.courseSection .blog-img span mark{
    position: absolute;
    background: #D8AF55;
    left:15px;
    top:30px;
    border-radius:5px;
    padding:0px 25px;
    color:#fff;
    font-size: 20px;
    clip-path: polygon(100% 0%, 80% 54%, 100% 100%, 0 100%, 0% 50%, 0 0);

}

.courseSection .blog-content{
    position: relative;
}




.courseSection .Blog-Descriotion{
    color:#000;
    width: 100%;
    padding: 10px 10px;

}
.courseSection  .Blog-Descriotion h3{
    color:#000;
    font-size: 15px;
    font-weight: bold;
    padding-top:10px;
    
}
.courseSection  .Blog-Descriotion .num1{
text-decoration: line-through;
}
.courseSection  .Blog-Descriotion .num1:hover{
    text-decoration: line-through;
    }

.courseSection  .Blog-Descriotion a:hover{
    text-decoration: none;
}
.courseSection  .Blog-Descriotion a h3:hover{
   text-decoration: none;
   color:#D8AF55;

    
}
.courseSection  .Blog-Descriotion .nav-link {
    display: block;
    padding: .5rem 0rem;
    
}
.courseSection  .Blog-Descriotion .nav a{
    color:#C9C9C9;
    font-size: 15px;
    padding-left: 6px;
    
}

.origin{
    color:#CBCACA;
    font-size: 14px;
    font-weight: normal;
}
.option-blog a {
    font-size: 25px;
    color:#D8AF55;
}
.courseSection  .Blog-Descriotion a.num2{
    color:#D8AF55;
    }
 .option-blog a:hover{
     color:#E9C983;
    }
.courseSection .Blog-Descriotion .end-box .nav a {
        color: #C9C9C9;
        font-size: 13px;
      padding-left: 0px; 
    }
    .courseSection .Blog-Descriotion .end-box img{
        width:40px;
    }
.time{
    color:#000;
    font-size: 15px;;

}
.arrows {
    color: #000;
   
}
.priceSection {
    margin-top:20px;
}

.priceSection h2{
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 27px;
    
}
.priceSection p{
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    
}
.priceSection .card{
    -webkit-box-shadow: 0px 5px 35px 0px rgba(220, 220, 226, 0.15);
    box-shadow: 0px 5px 10px 5px rgb(238, 233, 222);

}
.priceSection .card h3{

color: #fff;
background: #D8AF55;
height: 150px;
text-align: center;
line-height: 170px;
}
.priceSection .card h5{

    
    background: #E9C983;
    text-align: left;
    height: 50px;
    margin-top: -20px;
    line-height: 50px;
    padding-left: 20px;
    color:#fff;
    

    }
 .priceSection .card p{
        color: #000;
        text-align: center;
        padding:20px;   
        font-size:18px;
    }
.priceSection .card  a.btn-primary{
    margin:15px 60px;
    height: 40px;
    line-height: 30px;
    background: linear-gradient(to bottom,#D8AF55,#E9C983);
    border:0px;
}
.priceSection .card h5:hover,.priceSection .card h3:hover , .priceSection .card  a.btn-primary:hover{

    
    background: #000;
    color:#fff;

}
.Available .card p{
    color: #000;
    text-align:left;
    padding:15px;   
    font-size:18px;
}
 .post{
    margin: 0 auto;
    background:linear-gradient(to bottom,rgb(196, 160, 83),#D8AF55);
    width:35%;
    height: 40px;
    padding-top: 10px;
}
.post-page{
    background: #f5f9f8;
    padding-bottom: 30px;
}

 .post .row a{
 color:#fff;
}
 .post .row img{
    height: 20px;
}
.AboutSite{
    background: #D8AF55;
    color: #000;
    padding-top: 60px;
    padding-bottom:15px;
}
.AboutSite h2{
    color:#000;
    font-size: 22px;
    font-weight: bold;
}
.AboutSite p{
color:#2B2D30;
font-size:15px;
border-bottom: 1px solid rgb(218, 178, 92);
}
 .contact-us {
    margin:0 auto;
    border:1px solid #D8AF55;
    width:90%;
}
.contact-us  h2{
    color:#000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.contact-us  ul.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
 .contact-us img{
    margin-bottom: 20px;
    width: 40px;
    text-align: center;
}
 .contact-us h3{
    color:#000;
    font-weight: normal;
    font-size: 20px;
}
.contact-us p {
    color: #4E4E4E;
    font-size: 17px;
}
.Aboutcloud form{
    margin:0 auto
}
 .Aboutcloud input{
    width:100%;
    height: 50px;
    background: #F3E7CD;
    border-radius: 0px;
}
.Aboutcloud textarea{
    width:100%;
    height: 120px;
    padding:20px;
    background: #F3E7CD;
    border-radius: 0px;
}
.Aboutcloud button.send{
    display:flex;
    margin:0 auto;
    background: #000;
    color:#fff;
    border:0px;
    height: 50px;;
    line-height: 5px;
    width: 180px;
    padding:20px 40px;
    outline: 0px;
  
}
.Aboutcloud button.send:hover{
   
    background: #D8AF55;
    color: #000;
    border:1px solid #000;
    outline: 0px;

  
}
footer{
    background: #D8AF55;
    padding:30px 20px 15px 20px;
    color:#000;
}
footer h2{
 font-size: 18px;
 font-weight: bold;
}
footer ul li a{
    color:#5E5F60;
    font-size: 16px;
}
footer ul li a:hover{
    text-decoration: none;
    color:#000;
}
.social-footer ul li a i {
    font-size: 17px;
    border: 2px solid #5E5F60;
    /* margin-right: 10px; */
    padding: 7px;
    height: 35px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    /* margin-top: -5px; */
}
.social-footer ul li a i:hover{
    color:#fff;
    border: 2px solid #fff;
}

.img-foot .row .col{
margin-right: -20px;
font-size: 12px;
}
footer mark{
    text-decoration: line-through;
    background: transparent;
    color:#5E5F60;
}
.footer{
    border-bottom: 1px solid rgb(97, 96, 96);
}
.footer-ser {

   
    width: 50%;
    margin:0 auto

}
.footer-ser .row  img{
 width:50px;
}
.footer-ser h2{
    font-weight: normal;
    color: #000;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}
.footer-ser nav {
    margin:  0 auto;
    display: flex;
}
.copyRight{
    border-top: 1px solid rgb(151, 149, 149);
}
.copyRight p{
    padding-top:20px;
    color:#5E5F60;
}
.copyRight a.btn-primary{
    margin-left: -20px;
    margin-bottom: -15px;
    background-color: #000;
    color:#fff;
    border:0px;
    border-radius: 0px;
    border-top-right-radius:10px ;
    outline: 0px;
}
.copyRight a.btn-primary:hover{

    color: #D8AF55;
    outline: 0px;
  
}

/*ow*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: none;}
    .owl-theme .owl-dots .owl-dot span{
        width: 20px;
        height: 20px;
        background: #D8AF55;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: #D8AF55;
    }
    .dropdown a{
        color:#000;
    }
    .dropdown .dropdown-menu {
        background: rgb(196, 160, 83);
    }
    .dropdown .dropdown-menu a:hover{
        background: rgb(196, 160, 83);
        color:#fff;
    }
    /*navbar2*/
    #navbar-2 .bg-dark {
        background-color: #D8AF55!important;
        
    }
    #navbar-2 .navbar-dark .navbar-nav .nav-link {
        color:#000;
        font-size:16px;
        padding-right: 26px;
        text-transform: uppercase;
      
    }
    #navbar-2 .navbar-dark .navbar-nav .nav-link:hover{
         text-decoration: underline;
    }
    #navbar-2 .logo{
        width:70px;
    }
    #navbar-2 .user-box a img{
        width:45px;
        border-left: 1px solid #000;
   
    }
 ul.lists{
        margin-left: 50px;
    }
    .submit-ad a{
        color:#fff;
    }
    .submit-ad img{
        width:25px;
        
    }
    .submit-ad a.btn-light{
        background: #2B2D30;
        color: #fff;
        border-radius: 40px;
        font-size: 14px;
        outline: 0px;
        border:0px;
        margin-left: 20px;
    }
    .submit-ad a.btn-light:hover{
        color:#D8AF55;
  
    }
    .search{
        margin:20px;

    }
    .search-cat{
        width:100%;
        margin:0 auto;
        background: #F3E7CD;
        height: auto;
        padding:12px;
    }
    .search-cat .row input{
        height: 45px;
        border: 0px;
        outline:0px;
        position: relative;
    }
    .search-cat .row span img{
        position: absolute;
        opacity: .5;
        top:12px;
        right: 20px;
    }
    .cataories-page{
        background: url("../img/icon/Group 2872.png");
        background-size: cover;
        height: 160px;
        object-fit: cover;
        padding-top:40px
    }
    .cataories-page h2{
        margin-left: 15px;
    }
    .breadcrumb{
    background: transparent;
    color:#000;
    font-size: 18px;
    }
    .breadcrumb a{
        color:rgb(172, 167, 167);
    }
  
    .advertise{
        color:#000;
        border:1px solid transparent;
        height: auto;
        text-align: center;

    }
    .advertise h2{
        color:#000;

        font-size:27px;

    }
    .posts-evanta{
        color:#000;
        background: url("../img/8089.jpg_wh860.png");
        background-size: cover;
       height:auto;
        width:100%;
        object-fit: cover;
        padding-top:50px;

    }

    .posts-evanta .row h2{
        font-size: 30px;
        font-weight: bold;
        color: #D8AF55;
        padding-top: 50px;
    }
    .posts-evanta .row h3{
        font-size: 25px;
        font-weight: bold;
        color: #000;
    }
    .posts-evanta .row p{
        font-size: 16px;
    }

    .posts-evanta .row img{
        width: 320px;
       
    }
    .posts-evanta .row .nav a{
        text-transform: uppercase;
        border:3px solid #D8AF55;
        color:#000;
    }
    .posts-evanta .row .nav a:hover{
        color:#D8AF55;
        background: #000;
    
    }
    /*profile*/
    .profile-user{
        margin-top: 50px ;
        color:#000;
        height: auto;
    

    }
    .profile-user .card{
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .profile-user .card h3{
        font-size: 20px;
    font-weight: bold;
    }
    .profile-user .card h4{
        font-size: 15px;
 
    }
    .profile-user .card .row{
        padding:20px 20px 15px 20px;
    }
    .info{
        margin-left: -25px;
        margin-top: 5px;
    }
    .info .fa-circle{
        color:#D8AF55;
    }
    .profile-user .card .list-group-flush a{
        color:#000;
        font-size: 18px;
       
    }
    .list-group-item:hover{
        background:#D8AF55;
        color:#fff;
     
    }
    .list-group-item a:hover{
        text-decoration: none;

    }
  
  
    .profile-user .card .list-group-flush .active {
        background:#D8AF55;
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
        border:0px;
     
    }
    .card-det .list-group-item:hover{
        background:transparent;
        color:#000;
    }
    .card-det .card{
 
   height: 34rem;
    }
    .order .card{
        padding: 30px;
    }
    .order .card h4 strong{
    font-size: 20px;
    color:#000;
    }
    .order .card h4 span{ 
        font-size: 18px;
        color:#D8AF55;
        font-weight: normal;
        }
  /*login page*/
  .loginPage{
      margin-top: 60px;
      padding-bottom: 50px;  
       
  }
  .loginPage .row span{
    font-weight: bold;
    color:#2367A5;
}
  .login{
      width:90%;
      margin:0 auto;
      box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #fff;
      

  }
  .sign-in{
    padding: 10px 30px;

  }
  .row .box-sign-in{
      padding: 30px 30px;
      color:#000;
  }
  .row .box-sign-in ul li  a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(133, 132, 131);
  }
  .row .box-sign-in ul li a:hover{
      text-decoration: none;
      color:#D8AF55;
      background: #fff;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #D8AF55;
    background-color: #fff;
}
.login .row .forget a{
    color:#000;
    font-size: 16px;
    font-weight: normal;
    
}
.login .row .forget a:hover{
    text-decoration: none;
}
.login .row .forget a:hover{
    color:#D8AF55;
}
.login .row .forget span{
    font-weight: normal;
    color:#000;
}
.login .row .forget span a{
    font-size: 16px;
    font-weight: bold;
}
.login .row .forget span strong{
    color:#D8AF55;
    text-transform: uppercase;
    font-size: 20px;
}
.login .row .submit{
    margin: 0 auto;
    display: flex;
    background: #D8AF55;
    border: 0px;
    text-transform: uppercase;
}
.login .row .submit:hover{
    background: #ffff;
    border: 0px;
    color:#D8AF55;
    border:1px solid #D8AF55;

}
  .loginPage h1{
      color:#D8AF55;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 28px;
      font-size: 30px;
  }
  .login .row img{
      width:100%;
      height: 100%;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
  }
  .row .box-sign-in input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    border-bottom: 1px solid rgb(1, 27, 82);
  }
  .row .box-sign-in input:hover{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    border:1px solid #D8AF55;
    box-shadow: 0px;
  }
  .row .box-sign-in label{
  font-size: 16px;
  }
  .row .box-sign-in .contact a i{
    font-size: 20px;
    border: 1px solid #D8AF55;
    padding: 18px 5px;
    height: 40px;
    width: 40px;
    line-height: 0px;
    border-radius: 50%;
    text-align: center;
    margin-top: -5px;
    color:#D8AF55;
}
.row .box-sign-in .contact a i:hover{
  background: #D8AF55;
  color:#fff;
}

.row .box-sign-in .signup .form-check-label{
    font-size: 16px;
    text-decoration: underline;
}
/*NOTIFIVATION PAGE SETTING*/
.Not-setting{
    color:#000;
    padding-top:40px;

}
.Not-setting h1{
    font-weight: bold;
    color: #2F3030;
    font-size: 25px;
    padding-bottom:15px;
}
.Not-setting h2{
    font-weight: bold;
    color:#D8AF55;
    font-size: 22px;
}
.Not-setting .not-box{
    box-shadow: -1px 2px 2px 3px rgba(209, 206, 206, 0.6);
    background: #ffff;
    color:#000;
    padding: 18px;
    

}
.Not-setting .check-E{
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .Not-setting  .check-E input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .Not-setting  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border:2px solid #000;
  }
  
  /* On mouse-over, add a grey background color */
  .Not-setting   .check-E:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .Not-setting   .check-E input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .Not-setting  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .Not-setting  .check-E input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-E .checkmark:after {
    left: 5px;
    top: -2px;
    width: 6px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  button.save-notif{
      padding: 8px 100px;
      text-align: center;
      background: #D8AF55;
      border:none;
      border-radius: 6px;
      margin-bottom: 30px;
      color:#fff;
      outline: 0px;
      

  }
  button.save-notif:hover{
      border:2px solid #D8AF55;
      color: #D8AF55;
      background: #fff;
      font-weight: bold;
  }
  .Not-setting .notification a{
      color:#D8AF55;
      font-size: 16px;
  }
  .Not-setting .notification a:hover{
      text-decoration: none;
      color:#E9C983;
  }
  .markNot{
      border-right: 1px solid #D8AF55;
      padding-right:15px;
  }
  .Not-setting .notification a i{
    font-size: 20px;

  }
  .Not-setting .not-details{
    box-shadow: 0px 5px 30px 10px rgba(151, 151, 155, 0.15);
    padding-top:20px;
    padding-right: 20px;
    padding-left: 12px;


  }
  .Not-setting .not-details img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  }
  .Not-setting .not-details .row{
      margin-bottom: 20px;
  }
  .not-details h6{
      text-align: right;
  }
  .not-details .info-Not{
      margin-top:15px;
}
.not-details .info-Not a{
    color:#000;
    font-size: 16px;
    font-weight: bold;

}

.not-details .info-Not p{
    color:#000;
    font-size: 14px;

}
.not-box .not-details .info-Not a:hover{
    color:#D8AF55;
    text-decoration:none;

}

button.More-notif{
    padding: 4px 60px;
    text-align: center;
    background: #D8AF55;
    border:none;
    border-radius: 6px;
    color:#fff;
    outline: 0px;
    margin:0 auto;
    display: flex;
    margin-top:40px;
    margin-bottom:40px;

}
button.More-notif:hover{
    border:2px solid #D8AF55;
    color: #D8AF55;
    background: #fff;
    font-weight: bold;
}
.settings .modal {
    position: fixed;
    top: 94px;
    right: -812px;
    bottom: 0;
    left: 0;
    clip-path: polygon(33% 40%, 50% 5%, 66% 42%, 100% 42%, 100% 65%, 0 64%, 0 41%);
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
/*contactpage*/
.contact-page .contact-us {
    margin:0 auto;
    border:1px solid transparent;
    width:100%;
}
.contact-page  form {
    margin-top:30px;
    padding-bottom: 30px;
    color:#000;

}
.contact-page .contact-us h3 {
    color: #000;
    font-weight:bold;
    font-size: 18px;
}
.contact-page .contact-us p {
    color: #4E4E4E;
    font-size: 15px;
}
.contact-page form input{
    height: 40px;

}
.contact-page form textarea{
    height: 150px;
}
button.send{
    background: #D8AF55;
    border: 0px;
    color:#fff;
    width:250px;

}
button.send:hover{
    border:2px solid #D8AF55;
    color: #D8AF55;
    background: #fff;
    
}
.cart-empty{
    color:rgb(77, 73, 73);
    text-align:center ;
    padding-top:100px;
    padding: 100px;
}
.cart-empty h2{
    font-weight: bold;
    font-size: 22px;
    
}
.table-dark {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
    background-color: #ffffff;
}


.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #ffffff;
}
.table-dark tbody tr{
    padding: 15px;
}
.card-card h1 {
 
    font-size: 19px;
    color: #252526;
}
.card-card p {
  
    font-size: 13px;
    color: #515C6F;
    font-weight: 400;
}
.card-card a {
    position: relative;
    text-align: center;
    font-weight: 300;
    display: flex;
    color: #FF6969;
    text-decoration: unset;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 5px;
}
.card-card img {
    width: 100%;
    border-radius: 5px;
}
.card-card a span{
    padding-right: 6px;
}
span {cursor:pointer; }
.number{
    display: flex;
}
.minus, .plus{
    width: 20px;
    display: flex;
    height: 34px;
    background: #fff;
    padding: 5px;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    color: #515C6F;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.number input {
    height: 40px;
    width: 40px;   
     text-align: center;
    font-size: 20px;
    /* border-radius: 4px; */
    display: inline-block;
    vertical-align: middle;
    border:1px solid #D8AF55;
    border-radius: 50%;
}




